.gridContainer {
    height: 100vh;
    display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
      grid-template-areas: 
       ". c1 ."
      ". c2 ."
      ". c3 ."
      ". c4 ."
      ". c5 ."
      ;
  }

  .workoutCreationHeader {
    grid-area: c1;
    align-self: center;
     justify-self: center;
     font-size: 3em;
     text-decoration: underline 4px;
  }

  .routine_workout_creation {
    grid-area: c2;
  }

.routineWorkoutCreationFlex {
  display: flex;
     justify-content: space-around;
     border: 2px solid black;
     border-radius: 5em;
     background-color: rgba(134, 124, 124, 0.677);
     padding: 2em;
}

.routineSelectionDropDown {
  padding: 1em;
  width: 14em;
  align-content: center;
  border: solid black 2px;
  border-radius: 2em;
}

  .workoutModules {
    grid-area: c3;
  }

  .editWorkoutPushbutton,
  .editWorkoutPullbutton {
    padding: 1em;
    width: 16em;
    align-content: center;
    border: solid black 2px;
    border-radius: 2em;
    margin: 2em
  }